<div class="col-3 border border-light p-2">

<article class="card mb-3">
<div class="card-header">
Catégories
</div>
<div class="card-body">
<p><a href="{{ path('admin_categories_index') }}">Liste des Catégories </a></p>
<p><a href="{{ path('admin_categories_add') }}">Ajouter une Catégorie </a></p>
</div>
</article>

<article class="card mb-3">
<div class="card-header">
Produits
</div>
<div class="card-body">
<p><a href="{{ path('admin_products_index') }}">Liste des Produits </a></p>
<p><a href="{{ path('admin_products_add') }}"> Ajouter un Produit </a></p>
</div>
</article>

<article class="card mb-3">
<div class="card-header">
Utilisateurs
</div>
<div class="card-body">
<p><a href="{{ path('admin_users_index') }}">Liste des Utilisateurs </a></p>
</div>
</article>


</div>