<link rel="stylesheet" href={{ asset('assets/css/partials/nav.css') }}>


<div class="header">
	<nav classname="header__nav">
		<ul>
			<li class="nav-item">
				<a class="nav-link" href="{{'/'}}">
					Accueil</a>
			</li>
			<li>
				<a class="nav-link" href="{{ path('app_products_plants') }}">
					Plantes</a>
			</li>
			<li>

				<a class="nav-link" href="{{ path('app_products_accessories') }}">
					Produits</a>
			</li>


			<span>
				<a href="#" target="_blank" rel="noopener noreferrer">
					<img src="" alt=""/>
				</a>

			</span>
		</ul>
<ul>
    {# On ajoute une condition pour afficher les boutons Déconnexion/Mon Compte uniquement si l'utilisateur est connecté #}
    {% if app.user %}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">
                    Administration</a>
            </li>
{% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Mon compte</a>
            </li>


        {% endif %}

        {% if is_granted('ROLE_USER') %}
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
        </li>

    {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
                Me connecter
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">
                M'inscrire
            </a>
        </li>

    {% endif %}
</ul>


		<div classname="header__burgerMenu"></div>
	</nav>
</div>
