<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil 
			{% endblock %} - PlantEcom
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# On ajoute la balise meta car symfony ne l'intègre pas#}
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Feuilles de styles #}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/style.css') }}" defer>

		{# Fichiers Js #}
		<script src="{{ asset ('assets/js/bootstrap.bundle.min.js') }}"></script>

		{% block javascripts %}
		{# {% block importmap %}
				{{ importmap('app') }}
				
			{% endblock %} #}{% endblock %}
		<script src="{{ asset ('assets/js/scripts.js') }}"></script>


	</head>

{# Import du partial nav.html.twig #}
	{% include "partials/nav.html.twig" %} 
	<body>


		{% block body %}{% endblock %}


{# Import du partial footer.html.twig #}
	{% include "partials/footer.html.twig" %} 


		
	</body>
</html>
